@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --wrapper-height: 80px;
  --item-width: 160px;
  --item-height: 80px;
  --animation-duration-1: 15s;
  --animation-duration-2: 15s;
  --md-animation-duration-1: 15s;
  --md-animation-duration-2: 15s;

  --md-wrapper-height: 100px;
  --md-item-width: 200px;
  --md-item-height: 100px;
}

